#us-map {
	display: flex;
	z-index: 1;
}

path:hover,
circle:hover {
	fill: rgba(var(--color-foreground), 0.7) !important;
	cursor: pointer;
}

.hover-class {
	fill: rgba(var(--color-foreground), 0.7) !important;
	cursor: pointer;
}

#info-box {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	border-radius: 5px;
	padding: 5px;
	font-family: arial;
}